footer {

    background-color: #46B580;
}

footer .wrapper {

    max-width: var(--maxWidth);

    margin: 0 auto;

    /* Parent */

    display: flex;
    flex-direction: column;

    padding: 20px 0;
}

footer .wrapper div {

    /* flex used to position dives */

    flex-basis: 30vh;

    text-align: center;
}

footer .wrapper div:nth-child(1) {

    background-color: cadetblue;

}

footer .wrapper div:nth-child(2) {

    background-color: royalblue;

}

footer .wrapper div:nth-child(3) {

    background-color: orange;

}

footer p {

    line-height: 75px;
    text-align: center;
}

@media(min-width: 1025px) {

    footer .wrapper {

        flex-direction: row;
        justify-content: center;

        height: 200px;
    }

    footer .wrapper div {

        flex-basis: 20%;
    }
}