footer {

    font-size: 16px;

    text-align: center;

    color: #ddd;
    background-color: #333;

}

footer p {

    line-height: 100px;
}

@media(min-width: 1025px){

    footer {

        font-size: 20px;

    }
}
