main {

    /* Child */

    align-self: center;
    width: 100%;
    max-width: var(--maxWidth);

    min-height: 100vh;
}

main .wrapper {

    /* Child */

    flex-grow: 1;
}

main h2 {

    text-align: center;

    padding-top: 50px;
    padding-bottom: 30px;
}

@media(min-width: 1025px) {

    main {

        padding: 0 40px 40px 40px;
    }
}