/* burger logic -> in query */

.fas {

    display: none;

}

i.show {

    display: block;
}

.burger-wrapper {

    height: 60px;

    color: black;
}

.burger {

    position: absolute;
    z-index: 1;

    top: 10px;
    right: 10px;

    font-size: 40px;
}

.burger:hover {

    cursor: pointer;
}

nav.main p.quotation {

    height: 60px;

    text-align: center;
    line-height: 60px;

    color: #ddd;
    background-color:#333;

    position: relative;
    z-index: 1;
}

nav.main .logo {

    height: 60px;

    text-align: center;
    background-color:#333;

    position: relative;
    z-index: 1;
}

nav.main .logo img {

    width: 50px;

    animation: logo 2s infinite linear;
}

.menu-desktop {

    display: none;
}

.menu-mobile {

    position: relative;
}

.menu-mobile ul {

    position: absolute;

    top: -180px;
    left: 0;

    width: 100%;

    display: flex;
    flex-direction: column;

    transition: 1s;

    background-color: #3BAC44;
}

.menu-mobile ul.show  {

    top: 0;

}

.menu-mobile ul li a {

    height: 60px;
    line-height: 60px;

    display: block;
    width: 100%;
    
    text-decoration: none;

    text-align: center;
    color: #ddd;
}

@media(min-width: 1025px) {

    .menu-mobile {

        display: none;
    }

    .menu-desktop {

        display: block;

        background-color: #3BAC44;

        box-shadow: 0 0 5px 0 black;
    }

    nav.main {

        position: fixed;
        top:0;
        left:0;

        width: 100%;

        transition: 0.5s;
    }

    nav.main.active {

        top: -120px;
    }

    .menu-desktop ul {

        padding: 10px 10px 0 10px;

        max-width: 1000px;
        margin: 0 auto;

        list-style: none;
        display: flex;
    }

    .menu-desktop ul li {

        flex-basis: 20%;

        flex-grow: 1;

    }

    .menu-desktop ul li a {

        display: block;
        width: 100%;

        text-align: center;

        height: 60px;
        line-height: 60px;

        text-decoration: none;
        text-transform: uppercase;

        color: #ddd;

        position: relative;

        overflow: hidden;

    }

    .menu-desktop ul li a::after {

        content: "";

        display: block;
        
        width: 100%;
        height: 5px;

        background-color: black;

        position: absolute;

        bottom: 0;
        left: -100%;

        transition: 0.2s;

    }

    .menu-desktop ul li a:hover::after {

        left: 0;
    }

}

/* Infinite animation */

@keyframes logo {

    0% {

        transform: rotate(0);

    }

    25% {

        transform: rotate(-35deg);
    }

    50% {

        transform: rotate(0);
    }

    75% {

        transform: rotate(35deg);
    }

    100% {

        transform: rotate(0deg);
    }

}
