nav.main {

    /* It's not in the page structure */

    background-color: #F4F4F4;
}

p.quotation {

    /* I've taken qutation to nav */

    height: 50px;

    /* Flex to center the item */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #46B580;
}

nav.main .wrapper {

    max-width: var(--maxWidth);
    margin: 0 auto;

    /* Parent  */

    display: flex;
    flex-direction: column-reverse;
}

nav.main .wrapper ul {

    /* Child */

    flex-grow: 1;

    /* Parent */

    display: flex;
    flex-direction: column;

    list-style: none;
}

nav.main .wrapper div.logo {

    flex-basis: 100px;

    position: relative;
}

nav.main .wrapper div.logo img {

    /* img is inside div.logo */

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    max-width: 85%;
    max-height: 85%;

    /* Adding animation */

    animation: logo 3s linear infinite;
}

nav.main .wrapper ul li {

    flex-basis: 20%;

}

nav.main .wrapper ul li a {

    flex-grow: 1;

    /* Color animation -> that's why it has to be relative*/

    position: relative;

    display: block;
    width: 100%;

    line-height: 70px;

    border: none;
    text-decoration: none;
    text-align: center;
    color: green;

    /* Color animation */

    transition: background-color 0.2 linear;
    overflow: hidden;
}

@media(min-width: 1025px) {

    nav.main {

        /* We are positioning relative to the browser */

        position: fixed;

        width: 100%;

        top: 0;
        left: 0;
    }

    /* Here we design for desktops */

    nav.main .wrapper {

        flex-direction: row;
        padding: 0 100px;

        height: 70px;
    }

    nav.main .wrapper ul {

        flex-direction: row;
    }
}

/* Transition */

@media(min-width: 1025px) {

    nav.main .wrapper ul li a:hover {

        color: black
    }

    nav.main .wrapper ul li a::after {

        content: "";

        position: absolute;

        left: -100%;
        bottom: 0;

        width: 100%;
        height: 5px;

        transition: 0.4s linear;

        background-color: black;
    }

    nav.main .wrapper ul li a:hover::after {

        left: 0;
    }

}

/* Infinite animation */

@keyframes logo {

    0% {

        transform: translate(-50%, -50%) rotate(0);

    }

    25% {

        transform: translate(-50%, -50%) rotate(-35deg);
    }

    50% {

        transform: translate(-50%, -50%) rotate(0);
    }

    75% {

        transform: translate(-50%, -50%) rotate(35deg);
    }

    100% {

        transform: translate(-50%, -50%) rotate(0deg);
    }

}