section.products div.galery {

    display: flex;
    flex-direction: column;

    padding: 0 20px;
}

section.products div.galery div.product {

    display: flex;
    flex-direction: column;

    padding-bottom: 10px;
    margin-bottom: 20px;


    text-align: center;

    border: 1px solid #333;

    border-radius: 5%;

    box-shadow: 0 0 5px 0 #333;
}

section.products div.galery div.product h3 {

    padding: 10px 0 15px 0;
}

section.products div.galery div.product img {

    width: 50%;
    align-self: center;
}

section.products div.galery div.product p {

    flex-grow: 1;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section.products div.galery div.product p span {

    display: inline-block;

    width: auto;
    padding: 10px 20px;

    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;

    background-color: #3BAC44;

    color: white;


}

@media(min-width: 533px) {

    section.products div.galery {

        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
    }

    section.products div.galery div.product {

        flex-basis: 40%;

        margin: 10px;
    }

}

@media(min-width: 1025px) {

    section.products div.galery div.product {

        flex-basis: 30%;
    }

}