* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    /* border: 2px solid black; */

}

:root {

    --maxWidth: 1440px;
}

html {

    font-size: 24px;
}

div.main.wrapper {

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}